table.dsabafw_data_table {
    display: inline-block;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
}
.dsabafw_data_table tr th, .dsabafw_data_table tr td{
    display: inline-block;
    text-align: left;
    width: auto;
}
.dsabafw_data_table tr{
    line-height: 51px;
    display: inline-block;
    width: 100%;
}
.dsabafw_data_table tr th{
    width: 25%;
}
.dsabafw_data_table tr td {
    width: 70%;
}
table.dsabafw_data_table tbody {
    display: inline-block;
    width: 100%;
}
.dsabafw_data_table strong {
    vertical-align: middle;
}


/*Billing address popup css*/ 
div#dsabafw_billing_popup_admin, div#dsabafw_shipping_popup_admin {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0 0 0 / 52%);
}
.dsabafw_modal-content, .dsabafw_modal-content_ship {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 40%;
    border-radius: 5px;
    padding: 37px 20px 80px 20px;
    margin-top: 60px;
    margin-bottom: 60px;
}
span.dsabafw_close, .dsabafw_closeship {
    font-size: 23px;
    font-weight: bold;
    position: absolute;
    right: 2%;
    top: 1%;
    height: 25px;
    line-height: 26px;
    width: 25px;
    vertical-align: middle;
    background-color: #000;
    text-align: center;
    color: #fff;
    z-index: 999;
    border-radius: 50%;
    font-family: arial;
}
.dsabafw_billing_popup_body_admin, .dsabafw_shipping_popup_body_admin {
    overflow: hidden;
    position: relative;
}
span.dsabafw_close:hover, span.dsabafw_closeship:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}


/*User page Address*/
.bil_ship_address_user {
    padding: 20px;
    border: 1px solid #adadad;
    margin: 10px 0;
}
.bil_ship_address_user_inner {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.bil_ship_border_line {
    display: inline-block;
    width: 1px;
    background-color: #929292;
}
.billing_address_main_section {
    display: inline-block;
    width: 50%;
    float: left;
}
.shipping_address_main_section {
    display: inline-block;
    width: 50%;
}
.billing_address, .shipping_address {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button.form_option_edit_admin,button.form_option_ship_edit_admin {
    background-color: #000;
    cursor: pointer;
    color: #fff;
}
span.delete_bill_address,span.delete_ship_address {
    float: right;
}
.billing_address_main_section_inner {
    padding-right: 10px;
}
.shipping_address_main_section_inner {
    padding-left: 10px;
}

.dsabafw_loading_admin img, .dsabafw_loading_ship img {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}
.bil_ship_address_user_inner h2 {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    margin: 0px 0px 15px 0px;
}
.billing_address_empty, .shipping_address_empty {
    padding: 10px;
    margin: 10px 0px;
}
p.billing_empty_message, p.shipping_empty_message {
    border: 1px solid #f00;
    text-align: center;
    color: #f00;
    padding: 10px;
    margin: 0px;
}
.billing_address_all, .shipping_address_all {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.billing_address_main, .shipping_address_main {
    padding: 5px;
    box-sizing: border-box;
    width: 33.33333333%;
    display: inline-block;
}